.commonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 1830px;
    height: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    overflow-x: hidden;
    display: flex;
   flex-wrap: wrap;
}
.boxes{
    border: 1px solid #e3e3e3;

}
.spanDiv{
    width: 100%;
    height: 100%;
}
.spanWidth{
    transform: rotate(45grad);
}
